hr {
    margin-bottom: 25px;
}

.nav {
    overflow: hidden;
}

.nav h1 {
    float: left;
    margin-left: 50px;
}

.nav form {
    float: left;
    margin-top: 25px;
    margin-left: 65px;
}

.nav select {
    float: left;
    height: 35px;
    width: 160px;
    border: 3px solid #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 17px;
}

.nav input {
    float: left;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 65px;
    padding-left: 35px;
    height: 30px;
    width: 500px;
    background-image: url("../images/magnifyingGlass.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 15px 15px;
    background-position-x: 10px;
    background-position-y: 6px;
}

.nav img {
    float: right;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    margin-top: 5px;
    margin-right: 50px;
}