* {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Tahoma', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    border: 2px solid white;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

hr {
    margin-bottom: 25px;
}

.nav {
    overflow: hidden;
}

.nav h1 {
    float: left;
    margin-left: 50px;
}

.nav form {
    float: left;
    margin-top: 25px;
    margin-left: 58px;
}

.nav select {
    height: 35px;
    width: 160px;
    border: 3px solid #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 17px;
}

.nav .searchField {
    float: left;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 58px;
    padding-left: 40px;
    height: 30px;
    width: 490px;
    background-image: url("../images/magnifyingGlass.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 15px 15px;
    background-position-x: 13px;
    background-position-y: 8.5px;
}

.nav .logoImg {
    float: right;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    margin-top: 5px;
    margin-right: 50px;
}